PyQt6==6.6.1
faster-whisper==1.0.2
opencv-python==4.9.0.80
moviepy==1.0.3
deep-translator==1.11.4
transformers==4.38.2
torch==2.2.1
yt-dlp==2024.3.10
Pillow==10.3.0
PyAudio==0.2.14
SpeechRecognition==3.10.1
pyperclip==1.8.2